@charset 'utf-8';

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Regular.ttf) format("truetype");
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #F3F3F3;
  padding-top: 100px;
  min-height: 100%;
}

.alert {
  height: 2.6rem;
  border-radius: 0 0 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  color: #FFF;
  text-align: center;
  line-height: 2.6rem;
  font-size: 0.9em;
  display: none;
  overflow: hidden;
  font-family: "PT Sans", Roboto, Arial, sans-serif;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.14);
  box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.14);
}


form {
  max-width: 350px;
  margin: auto;
  padding: 40px;
  border: 1px solid #C6C7CC;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  font: 1.2em/1.4 Roboto, Arial, Verdana, sans-serif;
}

input {
  width: 100%;
  border-radius: 3px;
}

input[type = 'text'],
input[type = 'password'] {
  margin-top: 5px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid #DBDBDB;
  background-color: rgb(255, 235, 153);
  font: 1.2em/1.4 Roboto, Helvetica, Arial, sans-serif;
}


h1 {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #DBDBDB;
  font-size: 1.4em;
}

label {
  display: block;
  margin-bottom: 30px;
  font-size: 0.7em;
  font-weight: bold;
}

input[type = 'submit'] {
  font-family: Roboto, Arial, Verdana, sans-serif;
  padding: 12px;
  color: #FFF;
  border: none;
  background: rgb(72,60,88);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(11%, rgba(72,60,88,1)), color-stop(16%, rgba(72,60,88,1)), color-stop(25%, rgba(72,60,88,1)), color-stop(48%, rgba(60,69,88,1)));
  background: linear-gradient(to top, rgba(72,60,88,1) 11%, rgba(72,60,88,1) 16%, rgba(72,60,88,1) 25%, rgba(60,69,88,1) 48%);
  font-weight: bold;
  cursor: pointer;
}

input[type = 'submit']:hover {
  background: #303746;
}


@media screen and (max-width: 700px) {
  body {
    padding-top: 50px;
  }

  form {
    max-width: 300px;
  }

}
