@charset 'utf-8';

@font-face { 
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype"); 
}

@font-face { 
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Regular.ttf) format("truetype"); 
}

html,
body {
	height: 100%;
}

html {
	min-width: 320px;
	font-size: 16px;
}


body {
	background: #E8E8E8;
	line-height: 1.5;
	overflow-y: scroll;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.6rem;
}

a {
	color: #000;
	text-decoration: none;
}

button {
	padding: 0;
	border: none;
	border-radius: 5px;
	background: none;
	cursor: pointer;
}

body,
input,
select,
button {
	font-family: Roboto, "PT Sans", Arial, Verdana, sans-serif;
}

[type="date"] {
	font-family: "PT Sans", Arial, Verdana, sans-serif;
}

input,
select {
	color: #333;
	border: 1px solid #D2D6D7;
	border-radius: 5px;
	transition: border 0.4s;
}

input:focus,
select:focus,
option:focus {
	border-color: #2E78E9;
}

.clearfix::after {
	display: block;
	clear: both;
	content: '';
}

.alert {
	height: 2.6rem;
	border-radius: 0 0 20px 20px;
	position: fixed;
	opacity: 0;
	z-index: 50;
	color: #FFF;
	text-align: center;
	line-height: 2.6rem;
	font-size: 0.9em;
	display: none;
	overflow: hidden;
	font-family: "PT Sans", Roboto, Arial, sans-serif;
	-webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.14);
	box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.14);
}

.layout {
	position: relative;
	overflow-x: hidden;
	max-width: 1440px;
	min-height: 100%;
	margin: auto;
	background: #FFF;
}

.layout__sidebar {
	position: fixed;
	width: 250px;
	height: 120%;
	font-size: 16px;
}

.layout__sidebar,
.mobile-header {
	color: #FFF;
	background: linear-gradient(0deg, rgba(72,60,88,1) 11%, rgba(72,60,88,1) 16%, rgba(72,60,88,1) 25%, rgba(60,69,88,1) 48%);
}

.layout__body {
	margin-left: 250px;
}

.mobile-header {
	position: fixed;
	display: none;
	width: 100%;
	height: 55px;
	line-height: 55px;
}

.mobile-header__text {
	padding: 0 10px;
}

nav {
	margin-top: 1em;
}

.menu__link {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	font-weight: 600;
	line-height: 40px;
}

.menu__link,
.btn-logout {
	color: #A7B3CB;
}

.menu__link:hover,
.btn-logout:hover {
	color: #FFF;
}

.menu__link i {
	margin-right: 10px;
}

.menu__link.current {
	color: #FFF;
}

.logo-container {
	height: 180px;
	padding: 0 20px;
	padding-top: 20px;
	text-align: center;
}

.logo-container__text {
	font-size: 1.4em;
}

.logo-container__text,
.mobile-header__text {
	line-height: 1.2em;
	text-transform: uppercase;
}

.logo-container__img {
	display: inline-block;
	height: 50%;
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}


.user-panel {
	height: 60px;
	padding: 0 15px;
	border: 1px solid #202737;
	border-right: none;
	border-left: none;
	line-height: 60px;
}

.user-info {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

.user-info__name {
	font-size: 1em;
}

.user-info__status {
	color: #CACACA;
	font-size: 0.7em;
}

.btn-logout {
	float: right;
	height: 100%;
	padding: 0 10px;
	font-size: 1.3rem;
}

.btn-sidebar-toggle {
	width: 55px;
	height: 100%;
	color: #A7B3CB;
	font-size: 24px;
	border-radius: 0;
}

.btn-sidebar-toggle:hover,
.layout__body.shifted .btn-sidebar-toggle {
	background: #64728C;
}


.page {
	padding: 40px 35px;
	color: #333;
	font-size: 1em;
}

.page__headline {
	margin-bottom: 0.65rem;
	padding-bottom: 0.05em;
	border-bottom: 1.5px solid #DBDBDB;
}

.btn {
	padding: 0.6em;
	border-radius: 3px;
	font-size: 0.8em;
	font-weight: bold;
	transition: background 0.1s;
}


@media screen and (max-width: 1350px) {
	.alert {
		top: 55px;
	}

	.layout__sidebar {
		left: -250px;
	}

	.mobile-header {
		z-index: 50;
		display: block;
	}

	.layout__body {
		position: relative;
		left: 0;
		margin-left: 0;
	}

	.layout__body.shifted {
		left: 250px;
	}

	.layout__sidebar.opened {
		left: 0;
	}

	.layout__body,
	.layout__sidebar {
		transition: left 0.3s;
	}

	.mobile-header__text {
		display: inline-block;
		font-size: 18px;
	}

	.page {
		padding-top: 55px;
	}
}


@media screen and (max-width: 1070px) {
	html {
		font-size: 15px;
	}

	.page {
		padding-right: 10px;
		padding-left: 10px;
	}
}
