@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	height: 100%;
}

html {
	font-size: 16px;
	min-width: 320px;
}

body {
	overflow-y:scroll;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.6rem;
}

a {
	text-decoration: none;
	color: #000000;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	border-radius: 5px;
}

input, select {
	border: 1px solid #d2d6d7;
	color: #333;
	border-radius: 5px;
	transition: border ease .4s;
}



input:focus, select:focus, option:focus {
	border-color: #2E78E9;
}

body {
	background: #E8E8E8;
	font-family: Roboto, Arial, Verdana, sans-serif;
	line-height: 1.5;
}

.clearfix::after { 
  content: ""; 
  clear: both; 
  display: block; 
}

.layout {
	max-width: 1440px;
	margin: auto;
	background: #FFFFFF;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}

.layout__sidebar {
	position: fixed;
	width: 250px;
	height: 120%;
	transition: 1s;
}

.layout__sidebar, .mobile-header {
	background: rgb(72,60,88);
	background: linear-gradient(0deg, rgba(72,60,88,1) 11%, rgba(72,60,88,1) 16%, rgba(72,60,88,1) 25%, rgba(60,69,88,1) 48%);
	color: #FFFFFF;
}

.layout__body {
	margin-left: 250px;
}

.mobile-header {
	height: 55px;
	position: fixed;
	width: 100%;
	display: none;
	line-height: 55px;
}

.mobile-header__text{
	display: inline-block;
	font-size: 24px;
	padding: 0 10px;
}

nav {
	margin-top: 1em;
}

.menu__link {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-weight: 600;
}

.menu__link, 
.btn-logout {
	color: #a7b3cb;
}

.menu__link:hover, 
.btn-logout:hover  {
	color: #FFFFFF;
}

.menu__link i {
	margin-right: 10px;
}

.menu__link.current {
	color: #FFFFFF;
}

.logo-container {
	height: 180px;
	text-align: center;
	padding: 0 20px;
	padding-top: 20px;
}

.logo-container__text, .mobile-header__text {
	text-transform: uppercase;
	line-height: 1.2em;
}

.logo-container__img {
	display: inline-block;
	height: 40%;
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}



.user-panel {
	border: 1px solid #202737;
	border-left: none;
	border-right: none;
	height: 60px;
	padding: 0 15px;
	line-height: 60px;
}

.user-info {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

.user-info__status {
	font-size: 0.7em;
	color: #CACACA;
}

.btn-logout {
	float: right;
	height: 100%;
	padding: 0 10px;
	font-size: 1.3rem;
}

.btn-sidebar-toggle {
	height: 100%;
	color: #a7b3cb;
	width: 55px;
	font-size: 24px;
}

.btn-sidebar-toggle:hover {
	background: #64728c;
}


.layout__body.shifted .btn-sidebar-toggle {
	background: #64728c;
}


.page {
	padding: 40px 35px;
	color: #333;
}

.page__headline {
	padding-bottom: 0.05em;
	border-bottom: 1.5px solid #dbdbdb;
	margin-bottom: 10px;
}

.btn {
	font-size: 0.8em;
	padding: 0.6em;
	font-weight: bold;
	border-radius: 3px;
	transition: 0.1s ease;
}


@media screen and (max-width: 1200px) {

	.layout__sidebar {
		left: -250px;
	}

	.mobile-header {
		display: block;
		z-index: 1;
	}

	.layout__body {
		margin-left: 0;
		position: relative;
		left: 0;
		transition: 1s;
	}

	.layout__body.shifted {
		left: 250px;
	}

	.layout__sidebar.opened {
		left: 0;
	}
	
	.layout__body, .layout__sidebar  {
		transition: left 0.3s;
	}

	.mobile-header__text{
		display: inline-block;
		font-size: 18px;
	}

	.page {
		padding-top: 55px;
	}

}


@media screen and (max-width: 1000px) {
	.page {
		padding-left: 10px;
		padding-right: 10px;
	}
}
	
