.today-info {
	margin:10px 0;
	border-bottom: 2px solid #3c4558;
	padding-bottom: 10px;
}

.today-info__date {
	display: inline-block;
	margin-top: 0.25em; 
}


.btn-day-controller {
	color: #FFFFFF;
	background: #3c4558;
	float: right;
	width: 146px;
	padding: 8px 0;
}

.btn-day-controller:hover {
	color: #FFFFFF;
	background: #202737;
	float: right;
	width: 146px;
	padding: 8px 0;
}

.btn-day-controller::after {
	content: 'Начать смену';
	display: inline;
}


.btn-day-controller.active::after {
	content: 'Завершить смену';
	display: inline;
}

.visits-list__item {
	position: relative;
	background: #f8f7f7;
	border-radius: 3px;
	padding: 0.5em 0;
	margin: 1.25rem 0;
	font-size: 0.95em;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.58);
	-moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.58);
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.58);
}

.visits-list__item.completed::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    border-radius: 3px;
 }


.visit {
	display: flex;
}

.visit-info-item {
	border-right: 2px solid #DFDFDF;
	line-height: 1em;
	padding: 0 10px;
	min-height: 2em; 
	flex-grow: 0;
}

.visit-info-item__name h5 {
	color: #7A7A7A;
}


.visit-info-item:first-child {
	flex-basis: 1.8em;
}


.visit-info-item:nth-child(2) {
	flex-basis: 3em;
}

.visit-info-item:nth-child(n+4) {
	flex-basis: 4em;
}

.visit-info-item:nth-child(3) {
	flex-basis: 6em;
	flex-grow: 2;
}


.visit-info-item:nth-child(8) {
	flex-basis: 10em;
}

.visit-info-item:last-child {
	flex-basis: 2em;
	border: none;

}


.btn-visit-controller {
	box-sizing: border-box;
	border: 1px solid;
	width: 100%;
}

.visits-list__item.new .btn-visit-controller {
	border-color:  #61B74A;
	color: #61B74A;
}

.visits-list__item.new .btn-visit-controller::after {
    content: 'Начать';
    display: inline;
  }

.visits-list__item.new .btn-visit-controller:hover {
	background: #61B74A;
	color: #FFFFFF; 
}

.visits-list__item.active .btn-visit-controller {
	border-color: #0078FF;
	color: #0078FF; 
}

.visits-list__item.active .btn-visit-controller::after {
    content: 'Рассчитать';
    display: inline;
  }

.visits-list__item.active .btn-visit-controller:hover {
	background: #0078FF;
	color: #FFFFFF; 
}

.visits-list__item.calculated .btn-visit-controller {
	border-color: #F73F14;
	color: #F73F14; 
}

.visits-list__item.calculated .btn-visit-controller::after {
    content: 'Завершить';
    display: inline;
  }

.visits-list__item.calculated .btn-visit-controller:hover {
	background: #F73F14;
	color: #FFFFFF; 
}

.visits-list__item.completed .btn-visit-controller {
	background: transparent;
	color: #333;
	border-color: transparent;
	cursor:	default; 
}

.visits-list__item.completed .btn-visit-controller::after {
    content: 'Завершено';
    display: inline;
  }


.btn-remove-visit {
	height: 1.43em;
	font-size: 1.4em;
	color: #3c4558; 
	z-index: 1;
	position: relative;
	width: 100%;
}

.btn-remove-visit:hover {
	color: #202737;
}

.btn-remove-visit i {
	vertical-align: text-bottom;
}



.btn-add-visit {
	background: #0078FF;
	color: #FFFFFF;
	width: 150px;
}


.btn-add-visit:hover {
	background: #0A65CC;
}


.visit-info-item input,
.visit-info-item select {
	width: 100%;
	height: 1.4em;
	box-sizing: border-box;
	border-radius: 4px;
	border:1px solid #C0C0C0;
	padding-left: 5px;
	vertical-align: top;
	margin-top: -0.2em;
}

.visit-info-item select {
	padding-left: 0px;
}

@media screen and (max-width: 1000px) {

	.visit {
		flex-wrap: wrap;
	}

	.btn-remove-visit {
		border: 1px solid #3c4558;
		border-radius: 3px;
	}

	.btn-remove-visit:hover {
		background:  #3c4558;
		color: #FFFFFF;
	}

	.visits-list__item.new .btn-visit-controller,
	.visits-list__item.new .btn-remove-visit {
		margin-top: 4px;
	}


	.visit-info-item:nth-child(4) {
		order: 1;
		flex-basis: 50%;
	}

	.visit-info-item:nth-child(-n+8) {
		padding-bottom: 0.45em;
		border-bottom: 2px solid #DFDFDF;
	}

	.visit-info-item:nth-child(n+1) {
		flex-grow: 1;
	}

	.visit-info-item:nth-child(4), 
	.visit-info-item:nth-child(9),
	.visit-info-item:last-child {
		padding-top: 0.45em;
		padding-bottom: 0;
		border-bottom:none;
	}

	.visit-info-item:nth-child(8) {
		border-right: none;
	}

	.visit-info-item:nth-child(9),
	.visit-info-item:last-child {
		flex-basis: 15%;
	}

	.visit-info-item:nth-child(9) {
		border-right: none;
	}

	.visit-info-item:last-child {
		padding-left: 0;
	}

}


@media screen and (max-width: 550px) {

	.visits-list {
		font-size: 0.9em;
	}

	.visit-info-item:nth-child(1),
	.visit-info-item:nth-child(2),
	.visit-info-item:nth-child(3),
	.visit-info-item:nth-child(7) {
		flex:1 1 15%;
	}


	.visit-info-item:nth-child(4) {
		flex-basis: 100%;
		border-right: none;
		border-bottom: 2px solid #DFDFDF;
	}

	.visit-info-item:nth-child(7) {
		border-right: none;
	}


	.visit-info-item:nth-child(4){
		padding-bottom: 0.45em;
	}

	.visit-info-item:nth-child(5), 
	.visit-info-item:nth-child(6),
	.visit-info-item:nth-child(8) {
		order: 1;
		flex-basis: 25%;
		padding-top: 0.45em;
	} 

	.btn-add-visit {
		width: 100%;
		padding: 1em;
	}

}