
.settings {
	display: flex;
}

.settings input,
.settings select {
	padding-left: 0.5em;
	border-radius: 5px;
}

.settings label {
	display: block;
	font-size: 0.8em;
	font-weight: bold;
}

.settings .btn {
	padding-right: 2em;
	padding-left: 2em;
	color: #61B74A;
	border: 1px solid;
	border-color: #61B74A;
	font-size: 0.7em;
	font-weight: bold;
}

.settings .btn:hover {
	color: #FFF;
	background: #61B74A;
}


.settings__common {
	flex-shrink: 0;
	flex-basis: 390px;
}

.settings__users {
	flex-grow: 1;
	margin-left: 20px;
}

.settings-list {
	padding: 1em;
	border: 1px solid #C6C7CC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

.settings-category {
	color: #333;
	font-size: 1em;
}

.logo-uploader {
	padding: 1.5em 0;
	border-bottom: 1px solid #C5C5C5;
	text-align: center;
}

.logo-uploader__img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #3C4558 url(../../img/logo.png) no-repeat;
	background-position: center;
	background-size: contain;
}

.logo-uploader__info {
	margin-bottom: 0.5em;
	color: #9099A3;
	font-size: 0.8em;
	line-height: 1.2em;
}

.hidden-input {
	display: none;
}


.main-settings {
	padding: 1em 0;
}

.field-list {
	display: flex;
	

	justify-content: space-between;
	flex-wrap: wrap;
}

.field-list__item {
	display: inline-block;
	box-sizing: border-box;
}

.field-list__item:first-child {
	width: 100%;
	margin-bottom: 1em;
}


.field__input {
	width: 2.75em;
	font-size: 1em;
}

.field-list__item:first-child  .field__input {
	box-sizing: border-box;
	width: 100%;
}

.btn-save-main {
	margin-top: 1.25em;
}

.btn-save-main::after {
	content: 'Сохранить изменения';
}



.discounts-editor {
	padding-top: 1.3em;
	border-top: 1px solid #C5C5C5;
}


.discounts-editor__table {
	width: 100%;
	margin-bottom: 1em;
	border-collapse: separate;
	font-size: 0.9em;
	text-align: center;
}


.table-header {
	color: #CACACA;
	background: linear-gradient(0deg, rgba(72,60,88,1) 11%, rgba(72,60,88,1) 16%, rgba(72,60,88,1) 25%, rgba(60,69,88,1) 48%);
	font-size: 0.9em;
}

.table-header th {
	padding: 0.4em 0;
}


.table-header :first-child {
	width: 4em;
	border-right: 1px solid #F8F7F7;
	border-top-left-radius: 5px;
}


.table-header :last-child {
	width: 6.5em;
	border-left: 1px solid #F8F7F7;
	border-top-right-radius: 5px;
}

.discounts-editor__table td {
	padding: 0.2em 0;
	border-bottom: 1px solid #3C4558;
	border-left: 1px solid #3C4558;
}

.discounts-editor__table td:last-child {
	border-right: 1px solid #3C4558;
}

.discount-info:last-child :last-child {
	border-bottom-right-radius: 5px;
}

.discount-info:last-child :first-child {
	border-bottom-left-radius: 5px;
}


.discounts-editor__table td[contenteditable = 'true'] {
	background-color: rgb(255, 235, 153);
}

.btn-edit-discounts::after {
	content: 'Редактировать';
}

.btn-edit-discounts.active::after {
	content: 'Сохранить изменения';
}

.btn-add-discount {
	margin-left: 0.8em;
}

.settings .btn-add-discount,
.settings .btn-add-user {
	color: #21A1DC;
	border-color: #21A1DC;
}

.settings .btn-add-discount:hover,
.settings .btn-add-user:hover {
	color: #FFF;
	background: #21A1DC;;
}

.users-list__item {
	display: flex;
	padding: 0.8em 0;
	border-bottom: 1px dashed #B8B8B8;
}

.user__info {
	margin-right: 0.5em;
	line-height: 1em;
}

.user__info input {
	width: 100%;
}

.user__info select,
.user__info input {
	box-sizing: border-box;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: 0.9em;
}

.user__info select {
	font-size: 0.86em;
	padding-top: 0.19em;
}

.settings .info-label {
	font-size: 0.7em;
}

.btn-remove-user {
	display: flex;
	flex-direction: column;
	width: 2em;
	color: #CC1414;
	font-size: 1.1em;
}

.btn-remove-user i {
	margin-top: auto;
	margin-bottom: 0.35em;
}

.btn-add-user {
	margin: 0;
	margin-top: 0.3em;
}

.users-list__item:last-child {
	border-bottom: none;
}

.btn-save-users-changes {
	margin-left: 0.8em;
}


@media screen and (max-width: 1000px) {
	.settings__common {
		flex-shrink: 0.4;
	}
}

@media screen and (max-width: 760px) {

	.settings {
		flex-wrap: wrap;
	}

	.settings__common {
		flex-shrink: 0;
		flex-grow: 1;
	}

	.settings__users {
		margin-left:0;
		margin-top: 1.5em;
	}

	.field__input {
	    width: 4.5em;
	}
}

@media screen and (max-width: 450px) {

	.settings__common {
		flex-shrink: 1;
		font-size: 0.9em;
	}

	.field__input {
	    width: 2.5em;
	}
}