.settings label {
	font-size: 0.8em;
}

.settings .btn {
	padding-right: 2em;
	padding-left: 2em;
	color: #61B74A;
	border: 1px solid;
	border-color: #61B74A;
	font-size: 0.7em;
	font-weight: bold;
}

.settings .btn:hover {
	color: #FFF;
	background: #61B74A;
}

.settings input,
.settings select {
	padding-left: 0.5em;
}

.settings {
	display: flex;
}

.settings__common {
	flex-basis: 400px;
}

.settings__users {
	flex: 1 1;
	margin-left: 20px;
}

.settings-list {
	padding: 1em;
	border: 1px solid #C6C7CC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

.settings-category {
	color: #333;
	font-size: 1em;
}

.logo-uploader {
	padding: 1.25em 0;
	border-bottom: 1px solid #C5C5C5;
	text-align: center;
}

.logo-uploader__img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #3C4558 url(../../img/logo.png) no-repeat;
	background-position: center;
	background-size: contain;
}

.logo-uploader__info {
	margin-bottom: 0.5em;
	color: #9099A3;
	font-size: 0.8em;
	line-height: 1.2em;
}

.hidden-input {
	display: none;
}


.main-settings {
	padding: 1em 0;
}

.field-list {
	display: flex;
	
	flex-wrap: wrap;
	justify-content: space-between;
}

.field__label {
	vertical-align: super;
}

.field-list__item {
	box-sizing: border-box;
	line-height: 1em;
	flex-shrink: 0;
}

/*Название*/
.field-list__item:first-child {
	flex-basis: 100%;
	margin-bottom: 1em;
}

/*Первый час и стоп-чек*/
.field-list__item:nth-child(2n) {
	flex-basis: 5.8em;
}

/*Последующие*/
.field-list__item:nth-child(3) {
	flex-basis: 8.3em;
}

.field__input {
	width: 2.75em;
	font-size: 1em;
}

.field-list__item:first-child  .field__input {
	box-sizing: border-box;
	width: 100%;
}

.btn-save-main {
	margin-top: 1.43em;
}

.btn-save-main::after {
	content: 'Сохранить изменения';
}



.discounts-editor {
	padding-top: 1em;
	border-top: 1px solid #C5C5C5;
	line-height: 1em;
}

.discounts-editor__label {
	vertical-align: super;
}


.discounts-editor__table {
	width: 100%;
	margin-bottom: 1em;
	border-collapse: separate;
	font-size: 0.9em;
	text-align: center;
}


.table-header {
	color: #CACACA;
	background: linear-gradient(0deg, rgba(72,60,88,1) 11%, rgba(72,60,88,1) 16%, rgba(72,60,88,1) 25%, rgba(60,69,88,1) 48%);
	font-size: 0.9em;
}

.table-header th {
	padding: 0.4em 0;
}

.table-header :first-child {
	border-right: 1px solid #F8F7F7;
	border-top-left-radius: 5px;
	width: 5em;
}


.table-header :last-child {
	border-left: 1px solid #F8F7F7;
	border-top-right-radius: 5px;
	width: 6em;
}

.discounts-editor__table td {
	padding: 0.4em 0;
	line-height: 1em;
	border-bottom: 1px solid #3C4558;
	border-left: 1px solid #3C4558;
}

.discounts-editor__table td:nth-child(2) {
	word-break: break-all;
}

.discounts-editor__table td:last-child {
	border-right: 1px solid #3C4558;
}

.discount-info:last-child :last-child {
	border-bottom-right-radius: 5px;
}

.discount-info:last-child :first-child {
	border-bottom-left-radius: 5px;
}


.discounts-editor__table td[contenteditable = 'true'] {
	background-color: rgb(255, 235, 153);
}

.btn-edit-discounts::after {
	content: 'Редактировать';
}

.btn-edit-discounts.active::after {
	content: 'Сохранить изменения';
}

.btn-add-discount {
	margin-left: 0.8em;
}

.settings .btn-add-discount,
.settings .btn-add-user {
	color: #21A1DC;
	border-color: #21A1DC;
}

.settings .btn-add-discount:hover,
.settings .btn-add-user:hover {
	color: #FFF;
	background: #21A1DC;;
}

.user {
	display: flex;
	padding: 1em 0;
	border-bottom: 1px dashed #B8B8B8;
}

.user:first-child {
	padding-top: 0.5em;
}

.user__info {
	margin-right: 0.5em;
	line-height: 0.6em;
}

.info-label {
	vertical-align: super;
}


.user__info select,
.user__info input {
	box-sizing: border-box;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: 0.9em;
	width: 100%;
}

.user__info select {
	font-size: 0.86em;
}

/*Статус*/
.user__info:nth-child(5) {
	flex: 0 0 4.5em;
}

.settings .info-label {
	font-size: 0.7em;
}

.btn-remove-user {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #CC1414;
	font-size: 1.15em;
}


.btn-remove-user i {
	margin-bottom: 0.25em;
}

.btn-remove-user:hover {
	color: rgb(165, 26, 26);
}

.user:last-child {
	border-bottom: none;
}

.btn-save-users-changes {
	margin-left: 0.8em;
}


@media screen and (max-width: 1070px) {
		
	.user {
		flex-wrap: wrap;
	}

	.user__info {
		order: 2;
	}

	.btn-remove-user {
		order: 3;
		flex: 0 0 3.915em;
	}

	/*Всё, кроме статуса и кнопки*/
	.user__info:nth-child(-n+4) {
		flex: 1 1 35%;
	}
	
	/*Имя и фамилия*/
	.user__info:nth-child(-n+2) {
		margin-bottom: 0.8em;
		order: 0;
	}

	/*Статус*/
	.user__info:nth-child(5) {
		order: 1;
		margin-right: 0;
	}

	.btn-remove-user {
		align-items: center;
	}
}



@media screen and (max-width: 800px) {

	.settings {
		flex-wrap: wrap;
	}

	
	
	.settings__common,
	.settings__users {
		flex: 1 1 100%;
	}

	.settings__users {
		margin-left:0;
		margin-top: 1.65em;
	}

	.user {
		border-color:  rgb(165, 165, 165);
	}
	
}

@media screen and (max-width: 450px) {
	.settings .btn {
		width: 100%;
		padding: 1em;
	}

	.btn-add-discount,
	.btn-save-users-changes {
		margin-left: 0;
		margin-top: 1em;
	}

	/*Первый час и стоп-чек*/
	.field-list__item:nth-child(2n) {
		flex-basis: 5.2em;
	}

	/*Последующие*/
	.field-list__item:nth-child(3) {
		flex-basis: 7.5em;
	}

	.field__input {
	    width: 2em;
	}
}