.day-panel{
	margin-bottom: 0.6em;
	padding-bottom: 0.66em;
	border-bottom: 2px solid #3C4558;
}

.day-panel__date {
	display: inline-block;
	margin-top: 0.25em;
}


.btn-day-controller {
	float: right;
	width: 11.4em;
	padding: 0.65em 0;
	color: #FFF;
	background: #3C4558;
}

.btn-day-controller:hover {
	color: #FFF;
	background: #202737;
}

.btn-day-controller::after {
	content: 'Начать смену';
}

.btn-day-controller.active::after {
	content: 'Завершить смену';
}

.visits-list__item {
	position: relative;
	margin: 1.31em 0;
	padding: 0.5em 0;
	border-radius: 3px;
	background: #F8F7F7;
	-webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,0.58);
	   -moz-box-shadow: 0 3px 9px 0 rgba(0,0,0,0.58);
	        box-shadow: 0 3px 9px 0 rgba(0,0,0,0.58);
	font-size: 0.95em;
}

.visits-list__item.completed::after {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background: rgba(0,0,0,0.4);
	content: '';
}

.visit {
	display: flex;
}

.visit-info-item {
	height: 2em;
	padding: 0 0.65em;
	border-right: 2px solid #DFDFDF;
	line-height: 1em;

	flex-grow: 0;
}

.visit-info-item__name h5 {
	color: #7A7A7A;
}


.visit-info-item:first-child {
	flex-basis: 1.8em;
}


.visit-info-item:nth-child(2) {
	flex-basis: 3em;
}

.visit-info-item:nth-child(n+4) {
	flex-basis: 4em;
}

.visit-info-item:nth-child(3) {
	flex-basis: 6em;
	flex-grow: 2;
}


.visit-info-item:nth-child(8) {
	flex-basis: 10em;
}

.visit-info-item:last-child {
	border: none;

	flex-basis: 2em;
}

.btn-visit-controller {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid;
}

.visits-list__item.new .btn-visit-controller {
	color: #61B74A;
	border-color: #61B74A;
}

.visits-list__item.new .btn-visit-controller::after {
	content: 'Начать';
}

.visits-list__item.new .btn-visit-controller:hover {
	color: #FFF;
	background: #61B74A;
}

.visits-list__item.active .btn-visit-controller {
	color: #0078FF;
	border-color: #0078FF;
}

.visits-list__item.active .btn-visit-controller::after {
	content: 'Рассчитать';
}

.visits-list__item.active .btn-visit-controller:hover {
	color: #FFF;
	background: #0078FF;
}

.visits-list__item.calculated .btn-visit-controller {
	color: #F73F14;
	border-color: #F73F14;
}

.visits-list__item.calculated .btn-visit-controller::after {
	content: 'Завершить';
}

.visits-list__item.calculated .btn-visit-controller:hover {
	color: #FFF;
	background: #F73F14;
}

.visits-list__item.completed .btn-visit-controller {
	color: #333;
	border-color: transparent;
	background: transparent;
	cursor: default;
}

.visits-list__item.completed .btn-visit-controller::after {
	content: 'Завершено';
}

.btn-remove-visit {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	color: #3C4558;
	font-size: 1.4em;
}

.btn-remove-visit:hover {
	color: #202737;
}

.btn-remove-visit i {
	vertical-align: text-bottom;
}


.btn-add-visit {
	width: 12em;
	color: #FFF;
	background: #0078FF;
}


.btn-add-visit:hover {
	background: #0A65CC;
}


.visit-info-item input,
.visit-info-item select {
	box-sizing: border-box;
	width: 100%;
	height: 1.4em;
	margin-top: -0.2em;
	padding-left: 5px;
	border-radius: 4px;
	vertical-align: top;
}

.visit-info-item select {
	padding-left: 0;
}


@media screen and (max-width: 1000px) {
	.visit {
		padding: 0 0.65em;

		flex-wrap: wrap;
	}

	.btn-remove-visit {
		border: 1px solid #3C4558;
		border-radius: 3px;
		font-size: 1em;
	}

	.btn-remove-visit:hover {
		color: #FFF;
		background: #3C4558;
	}

	/*Номер и комментарий*/
	.visit-info-item:first-child,
	.visit-info-item:nth-child(3) {
		padding-left: 0;
	}

	/*Итого и кнопка "Удалить"*/
	.visit-info-item:nth-child(7),
	.visit-info-item:last-child {
		padding-right: 0;
	}

	/*Все, кроме кнопок*/
	.visit-info-item:nth-child(-n+7) {
		padding-bottom: 0.5em;
		border-bottom: 2px solid #DFDFDF;
	}

	/*Все, кроме номера*/
	.visit-info-item:nth-child(n+2) {
		flex-basis: 4.5em;
		flex-grow: 1;
	}

	/*Комментарий*/
	.visit-info-item:nth-child(3) {
		margin-bottom: 0;
		padding-top: 0.5em;
		padding-bottom: 0;
		border: none;

		order: 1;
		flex-basis: 60%;
		flex-grow: 2;
	}

	/*Комментарий (новое посещение)*/
	.new .visit-info-item:nth-child(3) {
		border-right: 2px solid #DFDFDF;;
	}

	/*Кнопки*/
	.visit-info-item:nth-child(n+8) {
		padding-top: 0.5em;
		padding-right: 0;
		border: none;

		order: 1;
		flex-basis: 15%;
	}

	/*Итого*/
	.visit-info-item:nth-child(7) {
		border-right: none;
	}
}


@media screen and (max-width: 550px) {
	.visit-info-item {
		padding: 0.5em 0.4em;
		border-right: none;

		order: 1;
	}

	/*Комментарий (новое посещение)*/
	.new .visit-info-item:nth-child(3) {
		border-right: none;
	}


	/*Все, кроме кнопок*/
	.visit-info-item:nth-child(-n+7) {
		padding-bottom: 0.5em;
		border-bottom: 2px solid #DFDFDF;

		flex-basis: 14.5%;
	}

	/*Номер и комментарий*/
	.visit-info-item:first-child,
	.visit-info-item:nth-child(3) {
		padding-right: 0;
		border-right: none;

		order: 0;
		flex-basis: 100%;
	}


	/*Номер*/
	.visit-info-item:first-child {
		padding-top: 0;

		flex-basis: 100%;
	}


	/*Номерок и кнопка контроля*/
	.visit-info-item:nth-child(2),
	.visit-info-item:nth-child(8) {
		padding-left: 0;
	}

	/*Кнопка контроля*/
	.visit-info-item:nth-child(8) {
		padding-right: 0.4em;
	}

	/*Кнопки*/
	.visit-info-item:nth-child(n+8) {
		padding-bottom: 0;
	}

	.btn-add-visit {
		width: 100%;
		height: 3.25em;
	}
}
